@use "../core/variables";

// Tablet styling
@mixin tablet-and-up {
    @media screen and (min-width: 768px) {
        @content;
    }
}

// Desktop styling
@mixin desktop-and-up {
    @media screen and (min-width: 1100px) {
        @content;
    }
}

// Flex
@mixin flex($dir, $jc, $ai, $gap: 0px) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

// Button styling
@mixin btn($radius: 4px, $fontsize: 0.80rem) {
    border-radius: $radius;
    font-size: $fontsize;
    padding: 10px;
    background-color: variables.$color-lightpurple;
    border: none;
    font-weight: 500;

    &:hover {
        cursor: pointer;
        background-color: variables.$color-dkpurple;
        transition: all 0.25s ease-in-out;
    }
}

// Input styling

@mixin input($width, $fontsize, $padding) {
    padding: $padding;
    width: $width;
    font-size: $fontsize;
    border: none;
    border-bottom: 1px solid variables.$color-lightpurple;
    color: rgb(87, 84, 89);
    background: transparent;
    transition: all 0.1s ease-in-out;

    &:focus {
        outline: none;
        border: none;
        border-bottom: 1px solid variables.$color-lightpurple;
        transition: all 0.1s ease-in-out;
        background: variables.$color-gray;
        color: #fff;
    }
}