@use "../core/mixins";
@use "../core/variables";

header {
    background-color: #1a1919;
    position: relative;
    width: 100%;
    z-index: 1;
}

.header-box {
    @include mixins.flex(column, flex-start, flex-start, 10px);
    padding: 0px;

    @include mixins.tablet-and-up {
        gap: 23px;
        padding: 30px 50px;
        position: fixed;
        padding: 20px;

    }

    .header-logo {
        padding: 10px;

        @include mixins.tablet-and-up {
            padding: 0px 20px;
        }

        .logo-text {
            @include mixins.flex(row, flex-start, center, 10px);
            font-weight: 300;
            font-size: 0.9rem;
            padding: 4px 0px;

            img {
                height: 23px;
                width: 23px;
            }
        }
    }

    .header-row {
        @include mixins.flex(column, center, flex-start, 10px);
        width: 100%;


        @include mixins.tablet-and-up {
            @include mixins.flex(row, flex-start, center, 50px);
        }
    }

    .bottom-row {
        @include mixins.flex(row, flex-start, center, 20px);
        font-size: 0.90rem;

        button {
            margin-left: 10px;


            @include mixins.tablet-and-up {
                margin: 0;
            }
        }


        @include mixins.tablet-and-up {
            padding: 0px 20px;
        }
    }

    h1 {
        font-size: 2rem;
        font-weight: 900;
        color: #fff;
    }


    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 2px;
        border: 1px solid variables.$color-lightpurple;
        color: #fff;
        border-radius: 2px;
        padding: 7px 30px 7px 10px;
        font-size: 0.9rem;
        cursor: pointer;
    }

    option {
        background: transparent;
        color: #000;
    }

    .logo-color {
        color: #b782d3;
    }

    svg:hover {
        cursor: pointer;
    }

    .header-search {
        @include mixins.flex(row, center, flex-start, 10px);
        padding: 10px;


        @include mixins.tablet-and-up {
            @include mixins.flex(row, center, center, 5px);
        }
    }

    .search-box {
        @include mixins.input(280px, 1.05rem, 10px 5px);

        @include mixins.tablet-and-up {
            @include mixins.input(350px, 1.05rem, 10px 7px);
        }
    }

    button {
        @include mixins.btn();
        background-color: variables.$color-lightpurple;
        padding: 7px 12px;
        font-size: 0.9rem;

        img {
            height: 22px;
            width: 22px;
        }
    }
}