@use "../core/mixins";

// Modal container styling
.modal-container {
    display: block;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    overflow: auto;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    // Modal content styling
    .modal {
        display: flex;
        flex-direction: column;
        opacity: 1;
        background-color: #1b1a1a;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 4px;
        color: #FFDCB7;
        border: none;
        border-radius: 7px;
        margin: 40px auto;
        padding: 15px 10px;
        width: 90%;
        -webkit-animation-name: animatemodal;
        -webkit-animation-duration: 0.25s;
        animation-name: animatemodal;
        animation-duration: 0.25s;

        @include mixins.tablet-and-up {
            width: 70%;
            margin: 60px auto;
        }

        @include mixins.desktop-and-up {
            width: 50%;
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            gap: 40px;
            text-align: left;
            padding: 10px 20px;
            color: #fff;

            @include mixins.tablet-and-up {
                flex-direction: row;
                padding: 20px 40px;
            }
        }

        .modal-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;

            @include mixins.tablet-and-up {
                width: 50%;
            }

            h4 {
                font-size: 1.6rem;
                padding: 0px;
                margin: 0px;
            }

            p {
                font-size: 1.1rem;
                font-weight: 300;
                text-align: left;
                line-height: 1.6rem;
                margin: 0px;
                padding: 20px 0px;
            }

            .year {
                font-size: 1rem;
                padding: 5px 0px;
            }

        }

        .modal-image {
            width: 100%;

            @include mixins.tablet-and-up {
                width: 50%;
            }
        }

        .modal-image img {
            width: 100%;
            height: auto;
        }

        .modal-header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 1.7rem;
            font-weight: 600;
            padding: 0px 10px;
            color: #fff;

            span {
                color: #FFDCB7;

                &:hover {
                    cursor: pointer;
                    color: #fff;
                }
            }
        }

        .price {
            padding: 20px 0px;
            font-size: 1rem;
        }

        .button-box {
            display: flex;
            flex-direction: row;
            padding: 30px 0px;
            gap: 20px;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            button {
                padding: 15px 14px;
                font-size: 0.9rem;
                font-weight: 500;
                display: flex;
                gap: 10px;
                border: none;

                &:hover {
                    background-color: #e0c2a2;
                    color: #000;
                    border: none;
                }
            }

            svg {
                display: flex;
            }
        }
    }

    .btn-close-modal {
        background: none;
        color: inherit;
        border: none;
        padding: 10px;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
}


// Modal animation 

@-webkit-keyframes animatemodal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatemodal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

to {
    top: 0;
    opacity: 1;
}