@use "../core/mixins";

.movie-box {
    @include mixins.flex(column, space-around, flex-start, 0px);
    width: 95%;
    margin: 0 auto;

    @include mixins.tablet-and-up {
        @include mixins.flex(row, space-around, flex-start, 0px);
        flex-wrap: wrap;
        width: 70%;
    }

}

.movie {
    @include mixins.flex(column, space-between, flex-start, 0px);
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #252525;
    padding: 10px;

    &:hover {
        transform: scale(1.02);
        transition: all .3s;
    }


    @include mixins.tablet-and-up {
        width: 40%;
        height: 400px;
        margin: 10px 0px;

    }

    @include mixins.desktop-and-up {
        width: 20%;
        margin: 15px 0px;
        height: 380px;
    }

    .movie-image {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;


        img {
            width: 100%;
            height: auto;
            opacity: 1;
            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 0.7;
            }

            @include mixins.tablet-and-up {
                height: auto;
            }

            @include mixins.desktop-and-up {
                // height: 270px;
            }
        }
    }

}

.movie-info {
    @include mixins.flex(column, center, flex-start, 10px);
    width: 100%;
    padding: 10px 0px 15px;

    @include mixins.tablet-and-up {
        @include mixins.flex(column, center, flex-start, 15px);
    }

    .movie-title {
        font-weight: 500;
        font-size: 0.95rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        max-height: 35px;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .movie-price {
        @include mixins.flex(row, space-between, center, 0px);
        width: 100%;
    }

    span {
        display: block;
        font-size: 0.9rem;
        padding: 5px;
        margin: 0px;
    }

    button {
        @include mixins.btn();

        &:hover {
            background-color: #252525;
        }
    }
}