@use "../core/mixins";

.shopping-cart-box {
    width: 90%;
    padding: 0px 10px;

    @include mixins.tablet-and-up {
        width: 25%;
        padding: 0px 20px;
    }

    .shopping-cart-content {
        width: 90%;
        margin: 0 auto;
    }

    h2 {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        padding: 5px 0px;
        border-bottom: 2px solid #FFDCB7;
        color: #fff;
        font-weight: 300;
    }

    .shopping-cart-items {
        @include mixins.flex(column, flex-end, flex-end, 0px);
        padding: 30px 0px;
    }

    .cart-item {
        @include mixins.flex(row, flex-start, flex-start, 15px);
        width: 100%;
        margin: 16px 0px;

        p {
            font-size: 0.9rem;
            font-weight: 500;
            text-align: left;
        }
    }

    .cart-item-info {
        @include mixins.flex(column, center, flex-start, 15px);
        width: 100%;
    }

    .cart-thumbnail {
        max-width: 70px;
    }

    .cart-thumbnail img {
        width: 100%;
        height: auto;
    }

    .cart-item-price {
        @include mixins.flex(row, space-between, center, 20px);
        width: 100%;
    }

    .cart-item-remove {
        @include mixins.flex(row, flex-end, flex-end, 0px);
        width: 100%;
        margin-right: 10px;
    }

    .product-amount {
        @include mixins.flex(row, center, center, 10px);
        font-size: 0.9rem;
    }

    .icon {
        display: flex;

        img {
            width: 15px;
            height: auto;
            display: flex;
        }
    }

    .shopping-cart-total {
        @include mixins.flex(row, space-between, center, 0px);
        width: 100%;
        border-top: 2px solid #FFDCB7;
        padding: 20px 0px 0px;

        @include mixins.tablet-and-up {
            @include mixins.flex(column, space-between, flex-start, 10px);
        }

        @include mixins.desktop-and-up {
            @include mixins.flex(row, space-between, center, 0px);
        }
    }

    .total {
        font-weight: 700;
        font-size: 1.1rem;
    }

    .amountOfProducts {
        font-size: 1rem;
    }

    .btn-quanitity {
        background: none;
        color: inherit;
        border: none;
        padding: 10px;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    .btn-remove {
        margin-right: 5px;

    }
}